@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
h1,p,nav, .contacts, h2, .digit, input,li{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}
 .span-mini-flex, .flat_h2, .watch_again, .but{
	font-family: 'Montserrat', sans-serif;
	font-weight:500;
}

body{
margin:0;
width:1420px;
}
.wrapper-1{
display:grid;
grid-template-columns:/*278px*/1120px /*842px*/ 293px;
margin-top:38px;
}
.menu{
display:flex;
justify-content:space-between;
padding:0;
margin-right:34px;
/*margin-bottom:94px;*/

}
ul{
	margin:0;
    list-style:none;
}

.scandi{
margin-bottom:auto;
}
.logo_png{
	/*display:inline-block;*/
	vertical-align: center;
}
.contacts{
	margin-right:116px;
	color:#533738;
}
.link{
	text-decoration:none;
	color:#533738;
}
/*.logo::before{
	position:absolute;
	content:'';
 background:url('../img/logo.png') no-repeat right center;

}*/
body{
	background:url('../img/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash 1.png') no-repeat;
	height:715px;
	width:1416.98px;
}
.help{
	/*padding-right:0px;*/
	margin-left:185px;
	width:534px;
	height:186px;
	/*font-family: Montserrat;*/
font-size: 50px;
line-height: 62px;
color: #533738;
margin-top:95px;
margin-bottom:20px;
}
.welcome{
width:493px;
height:90px;
font-size: 18px;
line-height: 30px;
margin-left:185px;
margin-bottom:21px;
color: #533738;

}
.btn{
	margin-left:185px;
	display:block;
	width:309px;
	height:74px;
	background-color: #CC8B86;
	box-sizing:border-box;
	border:none;
	font-weight: 500;
font-size: 20px;
line-height: 24px;
color:#533738;
}
.about{
margin-top:233px;
text-align:center;
font-size: 40px;
line-height: 50px;


text-transform: uppercase;

color: #533738;
}
.wrap-2{
display:grid;
grid-template-columns:445px 528px;
grid-gap:61px;
justify-content:center;
margin-bottom:10px;
}
.wrap-2-p{
 width:528px;
 /*height:330px;*/
	font-size: 18px;
line-height: 30px;


color: #533738;

}


.container-1{
	display:flex;
	align-items:center;
	height:273px;
	justify-content: space-around;
}
.awards{
	background-color:#8D7370;
	/*height:273px;*/
	width:1413px;
}
.awards__flex {
   display:flex;
   height:273px;
   justify-content:space-around;
  align-items:center;
  margin-bottom:45px;
}

.digit{
text-align:center;
margin-bottom:8px;

font-weight:400;
line-height:62px; 
font-size:50px;
color:#ffffff;
}
.span-mini-flex{
	font-style: medium;
font-size: 30px;
line-height: 37px;
color:#ffffff;
}

/*.wrapper_our-works{
	

}*/
.title_our-works{
	font-style: regular;
font-size: 40px;
color:#533738;
}
.block-1{
	display:flex;
	flex-direction:column;
	align-items:center;
	box-sizing:border-box;
	width:488px;
	height:451px;
	
	background-image:url("../img/our_works/Rectangle 145.png"),url("../img/our_works/image 55.png") ;
color:#ffffff;
}
.flat_h2{
	width:270px;
	margin-top:66px;
	font-style: medium;
font-size: 30px;
line-height: 37px;
text-align:center;
}
.block-1 p{
	font-style: regular;
font-size: 18px;
line-height: 30px;
/*padding-left:35px;*/
/*width:418px;*/
/*margin-left:auto;
margin-right:auto;*/
/*align-self:center;*/
	padding-right:35px;
	padding-left:35px;
}
.block-2{
	box-sizing:border-box;
width:692px;
height:451px;

}
.block-3{
	box-sizing:border-box;
width:692px;
height:451px;
}
.block-4{
box-sizing:border-box;
	width:689px;
	height:451px;

}
.our_works{
	width:1235px;
	margin-left:auto;
	margin-right:auto;
}
.title_our-works{
	margin-bottom:20px;
}
.wrapper_our-works{
	display:grid;
	width:1235px;
	grid-template-columns:488px 682px;
	margin-left:auto;
	margin-right:auto;
	gap:20px;
	margin-bottom:30px;
}
.wrapper_our-works-2{
	display:grid;
	width:1235px;
	grid-template-columns:692px 689px;
	margin-left:auto;
	margin-right:auto;
	gap:20px;
	margin-bottom:40px;
}
.watch_again{
	text-align:center;
	font-size:30px;
	font-weight:500;
	position:relative;
	margin-bottom:65px;
	color:#533738;
}

.watch_again span{
	margin-right:10px;
}
.scandi{
/*margin-right:89px;*/
text-decoration:none;
color:#533738;
/*margin-top:auto;
margin-bottom:auto;*/
}
/*.logo_png{
	align-self:center;
/*margin-left*/
.logo{
	display:flex;
	margin-left:125px;
}
.comand{
	width:1399px;
	height:998px;
	background-color:#E2C4BA;
}
.wrapper-3{
	display:flex;
/*width:1244px;*/
justify-content:center;
}
.wrapper-3 p{
	width:320px;
	font-size: 18px;
line-height: 30px;

color: #533738;
}

.wrapper-comand{
	border-top:1px solid #E2C4BA;
}

.comand_h2{
	text-align:center;
	margin-top:50px;
	margin-bottom:42px;
	font-size:40px;
	color:#533738;
}

.first{
/*width:345px;*/
margin-right:38px;
}
.second{
/*width:392px;*/
margin-right:38px;
}
.third{
/*width:401px;*/
}
.how_do_we_work-title{
	margin-top:35px;
	text-align:center;
	font-size: 40px;
	color: #533738;
	margin-bottom:40px;
}
.wrapper-4{
	display:flex;
	justify-content:space-around;
}
.wrapper-4__p{
	box-sizing:border-box;
	width:285px;
	padding:10px;
	font-size: 18px;
line-height: 30px;
color:#533738;

text-align: center;
}
.circle{
  position:relative;
	width:70px;
	height:70px;
	border-radius:50%;
	background-color:#8D7370;
	margin:auto;
	margin-bottom:20px;
}
.digit_any{
position:absolute;
top:20px;
left:27px;
font-size:30px;
font-weight:500;
color:#ffffff;
}
.otzivi_title{
	margin-top:65px;
font-size:40px;	
text-align:center;
margin-bottom:40px;
color:#533738;
}
.wrapper-5{
	display:flex;
	justify-content:center;
}
.quote{
	width:407px;
	height:335px;
	align-self:center;
	font-size: 18px;
line-height: 30px;
color: #533738;
margin-left:29px;
}
.pics{
	width:407px;
	margin-right:29px;
}
.circle_2{
	position:relative;
	width:70px;
	height:70px;
	background: #CC8B86;
	border-radius:50%;
	align-self:center;
}
.pic_1{
	margin-bottom:17px;
}
.arrow_left{
	position:absolute;
	top:25px;
	left:15px;
}
.arrow_right{
	position:absolute;
	top:25px;
	left:15px;
}
.send_a_messedge{
	margin-top:65px;

	background: #8D7370;
}

.wrapper-6{
	display:grid;
	grid-template-columns: 508px 590px;
	width:1400px;
height:624px;
justify-content: center;

}
.map{
margin-left:20px;

}
.flex_container{
	margin-top:30px;
	width:508px;
	display:flex;
	flex-direction: column;
}
.flex_container p{

	width:470px;
	height:60px;
	color:#ffffff;
	font-size: 18px;
line-height: 30px;
/*padding-right:0px;*/
opacity: 0.6;
margin-bottom:44px;
margin-top:24px;
}
input{
	display:block;
	/*border:none;*/
	background-color:#8D7370;
	border:none;
	border-bottom:1px solid #ffffff;
width:508px;

}

.name{
	margin-bottom:35px;
	color: #F6EDE9;
	font-size:18px;
}
.phone{
	margin-bottom:31px;
	color: #F6EDE9;
	font-size:18px;
}
.send_a_messedge_h2{
	color:#ffffff;
}
.but{
	width:309px;
	height:74px;
	background-color:#CC8B86;
	color:#533738;
	font-weight: 500;
font-size: 20px;
border:none;
}
footer{

	background: #E5E5E5;
}
.wrapper-7{
display:flex;
	height:104px;
	/*justify-content:space-around;*/
	align-items:center;
}
.wrapper-7 p{
	margin:0;
}
.adress_footer{
margin-left:42px;
color: #533738;
}
.phone_num{
margin-left:100px;
color: #533738;
}
/*.wrapper_footer{

}*/
.last_name{
	margin-left:auto;
	margin-right:100px;
	color: #533738;
}
.logo{
	margin-right:59px;
}